*, html {
    margin:0px;
    padding:0px;
}

body {
    background-color:lightsteelblue;
    margin:0px;
    padding:0px;
}

/***/
/* Heading and Navigataion */
/***/
.topnav {
    background-color:rgb(24, 17, 68);
    overflow:hidden;
    padding: 20px 10px;
    font-family:Didot;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* NOTE: THESE TWO LINES PRODUCE A STICKY HEADER */
    /* position:fixed; */
    /* z-index:1;
    width:100% */
}

.titleheader {
    float:left;
    width:200px;
}


.topnav a {
    text-decoration: none;
    color:white !important;
    float: left;
    text-align: center;
    padding: 8px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

.topnav h1 {
    color:white;
    font-size: 28px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #34277d;
}

.topnav a.active {
    background-color:rgb(30, 89, 218);
}

nav {
    float: right;
}

.img {
    padding-right:10px;
}

/***/
/* Site Body */
/***/
main {
    color: #1d2124;
    font-size: 110%;
    text-align: left;
    font-family: Georgia;
    line-height:150%;
}

#home {
    display:grid;
}

main h1 {
    line-height:200%;
    color:#083458;
}

#textbody {
    padding:50px;
}

footer {
    font-family:Didot;
    color:rgb(123, 114, 169);
    background-color:#322f47;
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
    padding-top:20px;
    padding-bottom:20px;
}


