:root .navlinks {
    font-family:Didot;
    text-decoration: none;
    color:white !important;
}

body {
    background-color:lightsteelblue
}

.topnav {
    background-color:slateblue;
}

h1 {
    color: #1d2124;
    font-size: 36px;
    text-align: center;
}
