*, html {
    margin:0px;
    padding:0px;
}

body {
    background-color:lightsteelblue;
    margin:0px;
    padding:0px;
}

/***/
/* Heading and Navigataion */
/***/
.topnav {
    background-color:rgb(24, 17, 68);
    overflow:hidden;
    padding: 20px 20px;
    font-family:Didot;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    /* NOTE: THESE TWO LINES PRODUCE A STICKY HEADER */
    /* position:fixed; */
    /* z-index:1;
    width:100% */
}

.titleheader {
    float:left;
    width:200px;
}


.topnav a {
    text-decoration: none;
    color:white !important;
    float: left;
    text-align: center;
    padding: 6px;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
}

.topnav h1 {
    color:white;
    font-size: 28px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #34277d;
}

.topnav a.active {
    background-color:rgb(30, 89, 218);
}

nav {
    float: right;
}

.img {
    padding-right:10px;
}

/***/
/* Site Body */
/***/
main {
    color: #1d2124;
    font-size: 110%;
    text-align: left;
    font-family: Georgia;
    line-height:150%;
    margin-left:30px;
    margin-right:30px;
}

main h1 {
    line-height:200%;
    color:#083458;
    text-align: left;
    margin-top:30px;
}

#hometext {
    /* display:inline-block; */
    text-align:center;
}

.infoblock {
    display:inline-block;
    vertical-align:top;
    width: 45%;
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align:left;
}

@media (width <= 1000px) {
    .infoblock {
        width: 90%
    }
}

#textbody {
    padding:50px;
}

ul {
    text-align:left;
    padding-left:20px;
}

hr {
    border-color:black;
    width:30%;
    margin:auto;
    margin-top:20px;
    margin-bottom:30px;
}

/* hr {
    width:5%;
    justify-content:center;
    color:black;
} */

footer {
    font-family:Didot;
    color:rgb(123, 114, 169);
    background-color:#322f47;
    text-align: center;
    margin-top: auto;
    margin-bottom:auto;
    padding-top:20px;
    padding-bottom:20px;
}

.downloadButton {
    background-color:rgb(95, 45, 95);
    color:white;
    padding: 15px 20px;
    text-decoration:none;
    border-radius: 8px;
}

.buttonMargin {
    margin-bottom:25px;
}

.downloadButton:hover {
    background-color:rgb(53, 22, 53);
}

.scrollMenu {
    overflow:auto;
    white-space:nowrap;
    background-color:rgb(146, 165, 189);
    margin: 15px;
}

.projectWidget {
    height:50px;
    width:50px;
    display:flexbox;
}
